<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="nav-link ms-3" routerLink="home">
       Dentist
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav me-auto">
        <a class="nav-link margen" routerLink="agenda">
           Agenda
        </a>
      </div>
      <div class="navbar-nav ms-auto me-5">
        <a class="nav-link" routerLink="login">
           Iniciar sesión
        </a>
        <a class="nav-link margen" routerLink="register">
           Registrarme
        </a>
      </div>
    </div>
  </div>
</nav>
