<div class="pacientes">
    <h1>Lista de Pacientes</h1>


    <div class="container">

        <table class="table tabla-pacientes">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Dni</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha Consuta</th>
                </tr>
            </thead>
    
            <tbody>
                @for (paciente of Pacientes; track paciente.Dni) {
                <tr>
                    <th scope="row">{{paciente.Dni}}</th>
                    <td>{{paciente.Nombre}}</td>
                    <td>{{paciente.Fecha_Cons}}</td>
                    <td><button type="button" [routerLink]="['/pacientes',paciente.Dni]" class="btn btn-primary">Detalles</button> </td>
                </tr>
                }
            </tbody>
        </table>

    </div>
    
</div>