<div class="Vista-paciente" *ngIf="paciente">
    <h1>Información del paciente</h1>
    <div class="Info-del-paciente">
        <div>
            <label>Nombre:</label>
            <span>{{ paciente.Nombre }}</span>
        </div>
        <div>
            <label>DNI:</label>
            <span>{{ paciente.Dni }}</span>
        </div>
        <div>
            <label>Sexo:</label>
            <span>{{ paciente.Sexo }}</span>
        </div>
    </div>

    <h2>Consulta Médica</h2>
    <table class="Historia-Medica">
        <thead>
            <tr>
                <th>Fecha de Consulta</th>
                <th>Razón de Consulta</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ paciente.Fecha_Cons }}</td>
                <td>{{ paciente.Razon_Cons }}</td>
            </tr>
            <tr>
                <td colspan="2">
                  <div class="diagnostico">
                    {{paciente.Diagnostico}}
                  </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
